* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.proud-of-this-css {
    color: papayawhip;
}

body {
    background-color: #211A29;
}

main {
    opacity: 5%;
}

#backimg {
    position: absolute;
    width: 100%;
}

#titulo {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15%;
    font-size: 20px;
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

#montanha {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(35, 28, 43);
}

.horas {
    position: absolute;
    top: 30%;
    color: hsl(345, 95%, 68%);
    width: 120px;
    height: 120px;
    font-size: 60px;
    right: 0;
    border-radius: 10px;
    background-color: hsl(236, 21%, 26%);
    box-shadow: 0px -10px hsl(234, 17%, 12%) inset;
}

#hr1 {
    left: 50%;
    transform: translateX(-237.5%);
}

#hr2 {
    left: 50%;
    transform: translateX(-112.5%);
}

#hr3 {
    left: 50%;
    transform: translateX(+12.5%);
}

#hr4 {
    left: 50%;
    transform: translateX(+137.5%);
}

.horas p {
    position: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline;
    font-weight: 700;
    font-family: 'Red Hat Text';
}

.info {
    position: inherit;
    font-weight: 700;
    color: hsl(237, 18%, 59%);
    font-size: 14px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.divinfo {
    width: 120px;
    position: absolute;
    top: 51%;
}

#container1 {
    left: 50%;
    transform: translateX(-237.5%);
}

#container2 {
    left: 50%;
    transform: translateX(-112.5%);
}

#container3 {
    left: 50%;
    transform: translateX(+12.5%);
}

#container4 {
    left: 50%;
    transform: translateX(+137.5%);
}

#creditos {
    position: absolute;
    top: 95%;
    display: inline;
    color: hsl(237, 18%, 59%);
    left: 50%;
    transform: translate(-50%);
    font-size: 14px;
    font-weight: bold;
}
#creditos a {
    color: hsl(237, 35%, 50%);
    font-weight: bold;
}

#formulario {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 400px;
    align-items: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    border: 1px solid black;
    background-color: #211A29;
    opacity: 50%;
    border-radius: 15px;
    border: 1px solid hsl(237, 18%, 59%);
}

#formulario label {
    display: inline;
    color: hsl(345, 95%, 68%);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    opacity: 100%;
}

#formulario input {
    color: black;
    font-weight: bold;
    width: 60px;
    height: 25px;
    margin-bottom: 30px;
    color: hsl(345, 95%, 68%);
    text-align: center;
    background-color: hsl(236, 21%, 26%);
    border-radius: 7px;
    font-size: 15px;
}
#enviar {
    width: 90px;
    height: 35px;
    border-radius: 8px;
    background-color: hsl(236, 21%, 26%);
    color: hsl(345, 95%, 68%);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 100%;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#pairedes {
    display: flex;
    justify-content: center;
}
#link1 {
    left: 45%;
    top: 85%;
    position: absolute;
}
#link2{
    left: 50%;
    top: 85%;
    position: absolute;
}
#link3 {
    left: 55%;
    position: absolute;
    top: 85%;
}
.redes {
    position: absolute;
    top: 0;
    z-index: 10;
}
#sociais {
    width: 300px;
    display: flex;
    justify-content: flex;
}
.redes:hover{
    filter: invert(58%) sepia(38%) saturate(4955%) hue-rotate(310deg) brightness(101%) contrast(102%);
}
#icon_close {
    position: inherit;
    right: 10px;
    top: 10px;
}
#icon_close:hover {
    filter: invert(58%) sepia(38%) saturate(4955%) hue-rotate(310deg) brightness(101%) contrast(102%);
}
#enviar:hover {
    color: hsl(234, 17%, 12%);
    background-color: hsl(345, 95%, 68%);
}
#config {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 10;
}
#config:hover {
    filter: invert(58%) sepia(38%) saturate(4955%) hue-rotate(310deg) brightness(101%) contrast(102%);
}
